:root {
    --primary: #E25B45;
    --secondary: #3AAFA9;
    --tertiary: #F6C667; 
    --black: #2C2C2C;
    --white: #FFFFFF;
    --beige: #F5EDDC;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Quicksand', sans-serif;
    --font-tertiary: 'Caveat Brush', sans-serif;
}
@import "tailwindcss";

